.header {
    text-align: center;
    color: $white;
    font-family: Circular STD, system-ui, Avenir, sans-serif;
    font-size: 42px;

    img {
        width: 805;
        max-width: 800px;
    }
}
