.schedule {

}

.schedule__table {
    max-width: 800px;
    width: 90%;
    margin: auto;
    background: #187dec;
    margin-bottom: 300px;
}

.schedule__timeslots {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    padding:0 40px;

    div {
        padding: 20px;
    }
}


