<div class="schedule">
	<div class="schedule__table">
        <div
            ui-sref="map({{timeslot}})"
            class="schedule__timeslots"
            ng-repeat="timeslot in timeslots">
            <img src="assets/img/icons/{{timeslot.icon}}.svg">
            <p>
                {{timeslot.title}}
            </p>
            <p class="schedule__info">
                <img src="assets/img/icons/warning.svg">
                <img src="assets/img/icons/placeholder.svg" ng-if="timeslot.map">
            </p>
            <!-- <div>
                <a ui-sref="map">{{timeslot.time}}</a>
            </div>
            <div>
                {{timeslot.title}}
            </div>
            <div>
                {{timeslot.details}}
            </div>
            <div>
                {{timeslot.url}}
            </div> -->
        </div>
    </div>
</div>
