.earth {
    position: fixed;
    bottom: -40px;
    width: 100%;
    overflow: visible;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.earth_elem {
    position: relative;
    width: 60%;
    margin: auto;

    svg {
        position: relative;
        overflow: visible;
    }
}

@keyframes cloudMove {
    from {transform: translateX(-50%)}
    to {transform: translateX(50%)}
}

@keyframes sunMove {
    from {transform: rotate(360deg) translateX(350%) rotate(-360deg); }
        to   {transform: rotate(0deg) translateX(350%) rotate(0deg); }
}

#cloud1, #cloud3 {
    animation: cloudMove 60s infinite linear alternate reverse;
}

#cloud2, #cloud4 {
    animation: cloudMove 50s infinite linear alternate;
}

#cloud5 {
    animation: cloudMove 70s infinite linear alternate reverse;
}

#sun {
    cx: 50%;
    cy: 70%;
    animation: sunMove 800s infinite linear;
}
